<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>138CCEBA-936E-4D0A-B8FF-7F16578DBB40</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>38698B42-9FC5-4C99-A0F3-60F8E544297E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1B9713BC-F73F-40CD-B199-8CCBC7230B1E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6D4C7144-13F9-4FAE-BFC6-BDF1D3DD34CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>38698B42-9FC5-4C99-A0F3-60F8E544297E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>128448C3-3D59-473B-ADF3-45F9D9CB750B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>68AA4BC8-98D8-4672-B8E6-0E8F65C632B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1B9713BC-F73F-40CD-B199-8CCBC7230B1E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E0907A82-434E-4F45-BF8F-4A35EA31C9AC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>38698B42-9FC5-4C99-A0F3-60F8E544297E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E71B96EA-C701-4E37-B86A-573C1BF0F172</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1B9713BC-F73F-40CD-B199-8CCBC7230B1E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>Productivity Tool for Nice Investing</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Nice Investing</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ro</string>
				<key>subtext</key>
				<string>This TKR might cause problems</string>
				<key>text</key>
				<string>Rule One Toolbox</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E71B96EA-C701-4E37-B86A-573C1BF0F172</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python3 ro.py "${1}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1B9713BC-F73F-40CD-B199-8CCBC7230B1E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<true/>
				<key>skipvarencode</key>
				<true/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6D4C7144-13F9-4FAE-BFC6-BDF1D3DD34CE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"ruleonetoolbox.com\/dashboard","subtitle":"Rule One Toolbox Dashboard"}]</string>
				<key>keyword</key>
				<string>ro</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Give it a TKR</string>
				<key>title</key>
				<string>Search Rule One Toolbox</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>68AA4BC8-98D8-4672-B8E6-0E8F65C632B0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python3 bs.py "${1}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>38698B42-9FC5-4C99-A0F3-60F8E544297E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"bamsec.com","subtitle":"BamSEC Website"}]</string>
				<key>keyword</key>
				<string>bs</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Give it a TKR</string>
				<key>title</key>
				<string>Search BamSEC</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>E0907A82-434E-4F45-BF8F-4A35EA31C9AC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<true/>
				<key>skipvarencode</key>
				<true/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>128448C3-3D59-473B-ADF3-45F9D9CB750B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>bs</string>
				<key>subtext</key>
				<string>This TKR might cause problems</string>
				<key>text</key>
				<string>BamSEC</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>138CCEBA-936E-4D0A-B8FF-7F16578DBB40</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>128448C3-3D59-473B-ADF3-45F9D9CB750B</key>
		<dict>
			<key>xpos</key>
			<real>540</real>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>138CCEBA-936E-4D0A-B8FF-7F16578DBB40</key>
		<dict>
			<key>xpos</key>
			<real>205</real>
			<key>ypos</key>
			<real>670</real>
		</dict>
		<key>1B9713BC-F73F-40CD-B199-8CCBC7230B1E</key>
		<dict>
			<key>xpos</key>
			<real>380</real>
			<key>ypos</key>
			<real>405</real>
		</dict>
		<key>38698B42-9FC5-4C99-A0F3-60F8E544297E</key>
		<dict>
			<key>xpos</key>
			<real>380</real>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>68AA4BC8-98D8-4672-B8E6-0E8F65C632B0</key>
		<dict>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>405</real>
		</dict>
		<key>6D4C7144-13F9-4FAE-BFC6-BDF1D3DD34CE</key>
		<dict>
			<key>xpos</key>
			<real>540</real>
			<key>ypos</key>
			<real>405</real>
		</dict>
		<key>E0907A82-434E-4F45-BF8F-4A35EA31C9AC</key>
		<dict>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>E71B96EA-C701-4E37-B86A-573C1BF0F172</key>
		<dict>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
